# ---------------------------------
# Server
# ---------------------------------
PORT=3000
NODE_ENV=development

# ---------------------------------
# PostgreSQL
# ---------------------------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=havadashdb
DB_USER=myuser
DB_PASSWORD=mypassword

# ---------------------------------
# Redis
# ---------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=       # opsiyonel, boş bırakabilirsin

# ---------------------------------
# Mosquitto (MQTT Broker)
# ---------------------------------
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=       # opsiyonel
MQTT_PASSWORD=       # opsiyonel

# ---------------------------------
# JWT
# ---------------------------------
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d
